<div class="card-principal-container">
  <div class="card-pricipal-img">
    <img ngSrc="./assets/img-placeholder.jpg" alt="imagen de teste" height="200" width="400" priority>
  </div>
  <div class="card-pricipal-title">
    <h1><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></h1>
  </div>
  <div class="card-pricipal-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor iure vitae sequi! Dolorem incidunt a omnis
        sapiente laudantium tenetur molestiae sequi praesentium animi? Veritatis omnis rerum vitae excepturi. Inventore!
      </a>
    </p>
  </div>
</div>