<app-title-menu></app-title-menu>
<main class="articles-container">
  <article class="article-main">
    <app-principal-card cardTitle="A vida das Morsas" cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti praesentium tenetur repellendus, sunt, esse voluptate, at dolorem necessitatibus fugit corporis quibusdam quia? Ratione possimus excepturi nihil perspiciatis libero delectus enim.
    ">
    </app-principal-card>
  </article>

  <article class="article-others">
    <app-other-cards otherTitles="Cafeteira">
    </app-other-cards>
    <app-other-cards otherTitles="A Historia dos Farois"></app-other-cards>
    <app-other-cards otherTitles="A Vida dos Mamiferos"></app-other-cards>
  </article>
</main>