<app-title-menu></app-title-menu>
<main class="articles-container">
  <article class="article-main">
    <app-principal-card id="1" cardTitle="A vida das Morsas" cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti praesentium tenetur repellendus, sunt, esse voluptate, at dolorem necessitatibus fugit corporis quibusdam quia? Ratione possimus excepturi nihil perspiciatis libero delectus enim.
    ">
    </app-principal-card>
  </article>

  <article class="article-others">
    <app-other-cards id="2" otherTitles="Cafeteira">
    </app-other-cards>
    <app-other-cards id="3" otherTitles="A Historia dos Farois"></app-other-cards>
    <app-other-cards id="4" otherTitles="Cachorrinho"></app-other-cards>
  </article>
</main>